form {
    margin-bottom: 1.85rem;
}

form h2 {
    margin-bottom: 1.25rem;
    color: #942F2F;
}

form label, h4 {
    color: #942F2F;
}

.btn {
    margin-top: 1.85rem;
    background-color: #942F2F;
    border-color: #942F2F;
    color: #FFF9EC;
}

.btn:active {
    border-color: #FFDCCC;
    box-shadow: 0 0 0 0.1rem #ffad88;
}

.btn:focus {
    border-color: #FFDCCC;
    box-shadow: 0 0 0 0.1rem #ffad88;
}

.form-control {
    background: #fff4df;
    border-color: #c9c4c4;
    color: #738290;
}

.form-control:focus {
    border-color: #FFDCCC;
    box-shadow: 0 0 0 0.1rem #ffad88;
}

#add-stories {
    display: flex;
    margin-top: 1rem;
}

#add-story {
    position: relative;
    margin: auto;
    left: 30%;
    bottom: 10%;
}

#review-group {
    margin-top: 1.25rem;
}

#anthology-buttons {
    display: flex;
}

.btn-submit {
    position: relative;
}

.btn-cancel {
    position: relative;
    left: 20%;
}