<form [formGroup]="anthologyForm" (ngSubmit)="onSubmit()">
    <h2>Anthology Entry</h2>
    <div class="row">
        <div class="col-sm-5">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" formControlName="title">
            <div *ngIf="anthologyForm.get('title')?.touched && anthologyForm.get('title')?.invalid" 
            class="alert alert-danger">Title is required.</div>
        </div>
        <div class="col-sm-5">
            <label for="editor" class="form-label">Editor</label>
            <input type="text" id="editor" class="form-control" formControlName="author">
            <div *ngIf="anthologyForm.get('author')?.touched && anthologyForm.get('author')?.invalid" 
            class="alert alert-danger">Author is required.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" id="publisher" class="form-control" formControlName="publisher">
        </div>
        <div class="col-sm-2">
            <label for="year" class="form-label">Year</label>
            <input type="number" id="year" class="form-control" formControlName="year">
            <div *ngIf="anthologyForm.get('year')?.touched && anthologyForm.get('year')?.invalid" 
            class="alert alert-danger">Cannot be later than current year.</div>
        </div>
        <div class="col-sm-2">
            <label for="pages" class="form-label">Pages</label>
            <input type="text" id="pages" class="form-control" formControlName="pages">
            <div *ngIf="anthologyForm.get('pages')?.touched && anthologyForm.get('pages')?.invalid" 
            class="alert alert-danger">Must be a positive number.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" id="isbn" class="form-control" formControlName="isbn">
            <div *ngIf="anthologyForm.get('isbn')?.touched && anthologyForm.get('isbn')?.invalid" 
            class="alert alert-danger">Must be a 13-digit number.</div>
        </div>
    </div>
    <div id="add-stories">
        <div>
            <h4 id="addLabel" class="form-label">Stories</h4>
        </div>
        <div>
            <button id="add-story" class="btn" type="button" (click)="onAddStory()">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9" formArrayName="stories">
            <div class="row" *ngFor="let storyCtrl of getControls(); let i=index" formGroupName="{{i}}">
                <div class="col-sm-4">
                    <label for="storyTitle">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="col-sm-4">
                    <label for="storyAuthor">Author</label>
                    <input type="text" class="form-control" formControlName="author">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn" (click)="onDeleteStory(i)">X</button>
                </div>
            </div>
        </div>
    </div>
    <div id="review-group" class="row">
        <div class="col-sm-7">
            <label for="review" class="form-label">Review</label>
            <textarea type="text" id="review" class="form-control" rows="3" formControlName="review"></textarea>
        </div>
    </div>
    <div id="anthology-buttons">
        <div>
            <button *ngIf="!editMode" class="btn btn-submit" type="submit">Add</button>
            <button *ngIf="editMode" class="btn btn-submit" type="submit">Update</button>
        </div>
        <div>
            <button *ngIf="!editMode" class="btn btn-cancel" (click)="onCancelNew()">Cancel</button>
            <button *ngIf="editMode" class="btn btn-cancel" (click)="onCancelEdit()">Cancel</button>
        </div>
    </div>

</form>
