*, ::after, ::before {
    box-sizing: content-box;
}

.btn-table {
    color: #cecece;
}

#table-btns {
    display: flex;
    flex-direction: column;
}

#btn-info {
    background-color: #536271;
}

.btn-edit {
    margin-top: 0.3rem;
    background-color: #84828F;
}

#btn-delete {
    margin-top: 0.3rem;
    color: #c07e7e;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.25rem 1.25rem;
}

#btn-delete:active {
    border-color: #c07e7e;;
    box-shadow: 0 0 0 0.05rem #c07e7e;;
}

#btn-delete:focus {
    border-color: #c07e7e;;
    box-shadow: 0 0 0 0.05rem #c07e7e;;
}