<div class="container">
    <div class="row">
        <div class="col-sm-12" id="category">
            <h3>Choose the type of book to enter:</h3>
            <ul>
                <li><a routerLink="/novel">Novel</a></li>
                <li><a routerLink="/anthology">Anthology</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <img src="assets/images/book.png" id="book-img" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>